.projectsContainer h2 {
    font-family: Tajawal;
}

.previewsContainer {
    display: flex;
    justify-content: start;
}

.projectsContainer {
    padding-top: 2%;
}

.projectImageContainer {
    width: calc(40% - 3rem);
    max-height: 33vh;
    height: 100%;
    position: relative;
}

.projectImage {
    position: relative;
    box-shadow: 1px 1px 3px 1px rgb(66, 66, 66);
    width: 100%;
}

.projectOverlay {
    width: calc(40% - 3rem);
    background-color: white;  
    box-shadow: 1px 1px 3px 1px rgb(66, 66, 66);
    top: 0; 
    left: 0;
    position: absolute;
    font-size: 1.61vw;
    text-overflow: clip;
    overflow: hidden;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .projectOverlay {
        font-size: 2.45vw;
    }

    .previewsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectImageContainer {
        width: calc(70% - 3rem);
    }
}

.projectOverlay {
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    padding: 2%;
    width: 96%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5.5%;
}

.projectImage:hover ~ .projectOverlay {
    opacity: 0.99;
    transition: all 0.3s ease;
}

.liveGitLinks {
    display: flex;
    justify-content: space-between;
}

.gitLink {
    padding-right: 4%;
}

.liveLink {
    padding-left: 4%;
}

.projectOverlay:hover {
    opacity: 0.9;
    transition: all 0.3s ease;
}

.appLink {
    color: rgb(223, 196, 101);
}

.appLink:hover {
    text-decoration: underline;
}

.appName {
    margin-top: 0;
    margin-bottom: 4.77%;
    font-family: Tajawal;
    font-weight: bold;
    font-size: 1.2em;
}

.appInfo {
    margin-bottom: 4.77%;
    margin-top: 0;
    font-family: Didact Gothic;
}

.stack {
    margin-bottom: 4.77%;
    margin-top: 4.77%;
    font-family: Didact Gothic;
    color: #9FB1BC;
}