@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vw;
    width: 100vw;
    background-color: #9FB1BC;
    position: fixed;
    box-shadow: 1px 1px 2px 0 rgb(66, 66, 66);
    align-items: center;
}

.leftNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #F0F7EE;
    font-family: Didact Gothic;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.55vw;
    width: 20vw;
    padding-left: 10%
}

.navBarContainer p {
    text-align: right;
}

.contactsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 20vw;
}

.contactsContainer svg:hover {
    fill: #F9DC5C;
}

.homeLink {
    color: #F0F7EE;
    font-size: 2vw;
    font-weight: bold;
    font-family: Tajawal;
    padding-left: 2vw;
    white-space: nowrap;
    padding-top: 2%;
}

.activeLink {
    color: #F9DC5C;
}

.link:hover {
    color: #F9DC5C;
}

.homeLink:hover {
    color: #F9DC5C;
}

.contactsContainer svg {
    height: 2.5vw;
    width: 2.5vw;
    fill: #F0F7EE;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .navBarContainer {
        height: 7vh;
    }
    .navLinks {
        font-size: 3vw;
        width: 20vh;
    }

    .homeLink {
        font-size: 4vw;
        height: 15px;
    }

    .contactsContainer svg {
        height: 2.5vh;
        width: 2.5vh;
    }
}