.contentContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(231, 228, 222);
  height: 83.5vh;
  padding: 2vh;
  width: calc(100% - 4vh);
  padding-top: 8vw;
}

.App {
  height: 100%
}

@media only screen and (max-device-width : 1024px) and (max-device-height : 1366px) {
  .contentContainer {
    height: 95vh;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .contentContainer {
    height: auto;
    padding-top: 10vw;
  }
}

.firstLine {
  max-width: 38vw;
  font-family: Didact Gothic;
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto; 
  font-size: 5vw;
  letter-spacing: .15em;
  animation: 
    typing1 .8s steps(25, end),
    blink-caret1 .75s step-end 2;
}

.secondLine {
  max-width: 63vw;
  font-family: Didact Gothic;
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto; 
  font-size: 5vw;
  letter-spacing: .15em;
  animation: 
    hidden2 0s 1.5s forwards,
    typing2 1s steps(25, end) 2.2s 1 normal both,
    blink-caret2 .75s step-end 5;
  visibility: hidden;
}

.thirdLine {
  max-width: 53vw;
  animation-delay: 1s;
  font-family: Didact Gothic;
  overflow: hidden;
  border-right: .15em solid #F9DC5C;
  white-space: nowrap;
  margin: 0 auto; 
  font-size: 5vw;
  letter-spacing: .15em;
  animation: 
    hidden3 0s 4s forwards,
    typing3 1.3s steps(30, end) 4s 1 normal both,
    blink-caret3 .75s step-end infinite;
  visibility: hidden;
}

.homeContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 10%;
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 85% }
}

@keyframes typing1 {
  from { width: 0 }
  to { width: 55% }
}

@keyframes typing3 {
  from { width: 0 }
  to { width: 75% }
}

@keyframes blink-caret1 {
  from, to { border-color: #F9DC5C; }
  50% { border-color: transparent; }
}

@keyframes blink-caret2 {
  from, to { border-color: #F9DC5C; }
  50% { border-color: transparent; }
}

@keyframes blink-caret3 {
  from, to { border-color: #F9DC5C; }
  50% { border-color: transparent; }
}

@keyframes hidden2 {
  to { visibility: visible; }
}

@keyframes hidden3 {
  to { visibility: visible; }
}