.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons svg {
    width: 8vw;
}

.skill p {
    text-align: center;
}

.me4 {
    padding-bottom: 8%;
}

.AboutContainer p {
    font-family: Didact Gothic;
    font-size: 1.2em;
}

.AboutContainer h2 {
    font-family: Tajawal;
}

.skillContainer {
    /* background-color: white; */
}

